body {
	background: linear-gradient(to bottom, #e4f5fc 0%,#9371d6 33%,#9fd8ef 66%,#eaca12 100%);
	background-repeat: no-repeat;
	background-attachment: fixed
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}

